/*Folha de estilo do site one page Mecanica Preventiva 
@author alex Reis 
*/

/* Importação Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*CSS reset*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}


body {
    font-family: "Oswald", sans-serif;
    font-size: 1em;
}

/* Layout */
.Container {
    margin: 0 auto;
  }

  .Flex{
    display: flex;
    justify-content:space-between;
    background-color:white;
  }


  /* Topo do Site*/
  #topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  

    
/* Smarytphone Portrait 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Cabeçalho*/
header {
    height: 120px;
    

}
#logo img{
    width: 215px;
    height: 110px;

}
#check{
    display: none;

}
label {
    font-size: 3em;
    padding-right: 15px;

}


nav ul {
    list-style: none;
    background-color: rgba(52, 53, 56, 0.95);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 50%;
    transition: all 0.5s;
  }
  
  #check:checked ~ ul {
    right: 0;
  }
  
  nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
    text-align: right;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  /* Destaque*/
  main{
    height: 65vh;
    background: url(img/banner.jpg);
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  main h1 {
    font-size: 3.0em;

  }
main h2{
    font-size: 2.5em;

}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){
    body{
        background-color: white

    }
    /*Layout*/
    .Container{
        max-width: 540px;
    }
}
/*destaque*/
main h1, main h2{
  text-shadow: #000 0.05em 0.05em 0.05em;

}

/* Table Portrat >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){
    body{
        background-color: white
        
    }
     /*Layout*/
     .Container{
        max-width: 720px;
    }
    /*Destaque*/
    main{
      height: 45vh;
    }
    main h1{
      font-size: 5.5em;
    }
    main h2 {
      font-size: 2em;
    }
}


 /* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
 @media (min-width: 992px){
    body{
        background-color: white
        
    }
     /*Layout*/
     .Container{
        max-width: 960px;
    }
    /*Destaque*/
    main{
      height: 70vh;
    }
}

 /* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
 @media (min-width: 1200px){
    body{
        background-color: white
        
    }
     /*Layout*/
     .Container{
        max-width: 1140px;
    }
       /*Destaque*/
       main{
        height: 70vh;
      }
  /* Cabeçalho */
  header {
    height: 120px;
  }

  #logo img {
    width: 200px;
    height: 100px;
    margin-top: 15px;
  }

  label {
    display: none;
  }

  nav ul {
    position: static;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 15px;
  }

  nav ul li {
    float: left;
    border: 0;
  }

  nav ul li a {
    color: black;
  }

  nav ul li a:hover {
    color: #c00000;
  }

  /* Destaque */
  main {
    height: 60vh;
  }

  main h1 {
    font-size: 7em;
  }

  /* Sobre */
  #sobre {
    background-attachment: fixed;
  }

  #destaqueSobre {
    display: inline;
  }

  #destaqueSobre img {
    border-radius: 50%;
    margin-right: 50px;
  }

  /* One page */
  .Flex3 {
    flex-direction: row;
    align-items: center;
  }

  /* Wireframe */
  #wireframe {
    background-attachment: fixed;
  }

  #wireframe span {
    display: inline;
  }

  /* Rodapé */
  .Flex6 {
    flex-direction: row-reverse;
  }

  address {
    padding-top: 50px;
  }

  #iconeLocal {
    display: inline;
  }

  #iconeMapa {
    display: none;
  }

  #googleMaps {
    display: inline;
  }
}